.desktopArticleVideoTopPlaceholder {
	position: absolute;
	width: 100%;
	aspect-ratio: 16 / 9;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
}

.desktopReskinnedVideoContentContainer {
	position: relative;
	flex-grow: 2;
	aspect-ratio: 16 / 9;
	width: 100%;
}

.jwPlayerWrapper {
	cursor: pointer;
}

.desktopArticleVideoWrapper {
	height: max-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
}

.desktopArticleVideoWrapperScrollPlayer {
	right: 18px;
	bottom: 45px;
	width: 300px;
	position: fixed;
}
