.iconWrapper {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wrapper {
	width: 44px;
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	color: '#ffffff';

	&::hover {
		// Change this!
		color: green;
	}
}
