.controlWrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.playVolumeWrapper {
	display: flex;
	position: relative;
	left: -15px;
}

.bottomWrapper {
	display: flex;
	flex-direction: column;
}

.timeRemainingPadded {
	padding-left: 10px;
}

.contentOverlayTimeSlider {
	align-items: center;
	height: 17px;
}
