.playerOverlayStyled {
	--z7: token(z7);
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: calc(var(--z7) + 2);
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	transition: opacity 0.2s;
	cursor: pointer;
}

.showOverlay {
	opacity: 1;
}
