.timeSliderWrapper {
	// z-index: calc(token(z8) + 1);
	outline: 0;

	// TODO: May need to be added in as a prop, especially when using overlays etc
	height: 5px;
	width: 100%;
	background: transparent none;

	// Horizontal class styles
	display: flex;

	cursor: pointer;
}

.timeSliderContainer {
	height : 5px;
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	touch-action: none;
}

.rail {
	// Convert this to props in the future
	background-color: rgba(255, 255, 255, 0.2);

	// Temporarily use white as the placeholder color for the full rail
	//background-color: white;

	width: 100%;
	height: 100%;
	position: absolute;
	cursor: pointer;
}

.buffer {
	height: 100%;
	position: absolute;
	cursor: pointer;
	background-color: rgba(0, 214, 214, 0.5);
}

.progress {
	height: 100%;
	position: absolute;
	cursor: pointer;
	background-color: rgb(0, 214, 214);
}

.progressKnob {
	height: 13px;
	width: 13px;
	background-color: rgb(0, 214, 214);
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	opacity: 1;
	position: absolute;
}
