.iconWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.iconBubble {
	fill: #fff;
	opacity: 0.5;
	flex-shrink: 0;
	height: 14px;
	margin-right: 6px;
	min-width: 14px;
	width: 14px;
}

.iconBubbleActive {
	opacity: 1;
}
