.desktopArticleVideoTopPlaceholder {
	position: absolute;
	width: 100%;
	padding-top: 56.25%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
}

.desktopArticleVideoWrapper {
	height: max-content;
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
}

.desktopArticleVideoWrapperScrollPlayer {
	height: max-content;
	position: fixed;
	right: 18px;
	bottom: 45px;
	width: 300px;
}

.topBar {
	width: 100%;
	position: relative;
}

.closeButton {
	filter: drop-shadow(1px 2px 2px rgb(0 0 0 / 0.7));
	position: absolute;
	right: 0;
	top: 0;
}
