.sliderOverlay {
	position: absolute;
	bottom: 100%;
	width: 44px;
	background-color: transparent;
	float: none;
	vertical-align: baseline;
	z-index: 802;
}

.sliderWrapper {
	padding: 13px 0 26px;
	align-items: center;
	flex-direction: column;
	display: flex;
	background-color: transparent;
	vertical-align: baseline;
}

.sliderContainer {
	background-color: transparent;
	height: 88px;
	width: 5px;
	display: flex;
	align-items: center;
	position: relative;
}

.sliderRail {
	height: 100%;
	width: 5px;
	transform: translate(-50%, 0);
	transition: transform 150ms ease-in-out;
	bottom: 0;
	position: absolute;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.3);
	left: 50%;
}

.sliderBuffer {
	height: 100%;
	width: 5px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translate(-50%, 0);
	transition: transform 150ms ease-in-out;
	bottom: 0;
	left: 50%;
	position: absolute;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.3);
}

.sliderProgress {
	width: 5px;
	backface-visibility: hidden;
	transform: translate(-50%, 0);
	transition: transform 150ms ease-in-out;
	bottom: 0;
	position: absolute;
	cursor: pointer;
	left: 50%;
	pointer-events: none;
}

.sliderKnob {
	height: 13px;
	width: 13px;
	border-radius: 50%;
	box-shadow: 0 0 10px rgb(0 0 0 / 40%);
	opacity: 1;
	pointer-events: none;
	position: absolute;
	transition: 150ms cubic-bezier(0, 0.25, 0.25, 1);
	transition-property: opacity, transform;
	transform: translate(-50%, 50%);
	left: 50%;
	color: rgba(255, 255, 255, 0.8);
}
